.App {
  color: white;
  margin-left: 12px;
}

.inputPort {
  margin-bottom: 18px;
  margin-right: 18px;
}

.inputDate {
  margin: 32px;
}

.noFlights {
  text-align: center;
  margin-left: 12px;
  margin-top: 36px;
}
